@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 mb-4 text-primary">Nossa História</h1>
                <p class="lead text-muted">
                    Bem-vindo ao Dashboard Financeiro. Nossa missão é simplificar sua gestão de gastos.
                </p>
                <hr class="my-4">
                <div class="text-secondary lh-lg">
                    <p>
                        Dashboard de Gestão Financeira - ASP.NET Core MVC
                        Este projeto é uma aplicação de gerenciamento financeiro desenvolvida para facilitar o controle de receitas e despesas. A aplicação oferece uma visão clara da saúde financeira através de um dashboard intuitivo e uma gestão detalhada de transações.

                        Funcionalidades
                        Resumo Geral: Cards dinâmicos que exibem o Total de Receitas, Total de Despesas e o Saldo Atual.

                        Gestão de Lançamentos: CRUD completo para registrar entradas e saídas.

                        Interface Responsiva: Tabela interativa com badges coloridos para identificação rápida de tipos de transação.

                        Segurança de Dados: Validação de formulários via ModelState.

                        Tecnologias e Ferramentas
                        Backend: C# com .NET (ASP.NET Core MVC).

                        Banco de Dados: Entity Framework Core com SQL Server (Migrations para versionamento).

                        Frontend: HTML5, Razor Pages e CSS3.

                        Estilização: Bootstrap 5 para o layout e Grid System.

                        Ícones: Bootstrap Icons.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
   
</div>
